.TopBar {
  background-color: #42adf0;

  .container {
    margin: 0 auto;
    max-width: 1200px;
    height: 64px;
    padding: 18px 6px;
  }

  .title {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: #fcfcfb;
    text-align: center;
  }

  .controls-container {
    display: flex;

    .search-container {
      input {
        border: 0;
        height: 30px;
        font-size: 18px;
        color: #787c7e;
        outline: none;
        padding: 0 5px;
      }
    }

    .select-container {
      padding: 0 10px;

      select {
        height: 30px;
        background-color: #fff;
        border-radius: 0;
        border: 0;
        min-width: 100px;
        font-size: 18px;
        color: #787c7e;
        outline: none;
      }
    }
  }
}
